*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
span{
    display:inline-block;
}

.color_gradient{
    background: linear-gradient(180deg, rgba(0, 168, 204, 0.1) 0%, rgba(0, 168, 204, 0.05) 99.99%),
                url("../Source/Images/Vector.svg") no-repeat center 84.5%;
}

/*header*/
.block_header{
    height: 735px;
    background: url(../Source/Images/Mask\ Group\ 1\ 1.svg) no-repeat bottom center/contain,
                url(../Source/Images/Vector\ 5.svg) no-repeat top right,
                url(../Source/Images/Vector\ 6.svg) no-repeat top right,
                url(../Source/Images/Frame.svg) no-repeat 81% 42%,
                url(../Source/Images/Frame.svg) no-repeat 98% 15%,
                url(../Source/Images/Frame.svg) no-repeat 40% 20%;
}
.header .row{
    padding:0 15px;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin:0 auto;
    max-width:1080px;
}
.header .row:first-child{/*top padding*/
    padding-top:32px;
}
.header .row:last-child{/*for align "EXPLORE THE...*/
    margin-top:130px;
}
.header .row:last-child div{/*align "EXPLORE THE...*/
    margin:auto 0;
}
.logo{
    display:flex;
    align-items: center;
}
.logo a{/*align logo img*/
    display:flex;
}
.logo a:last-of-type{/*align logo text*/
    margin-left:4.5px;
}

.header nav{
    display:flex;
    align-items:center;
    gap:29px;
}

.hamb{
    display:none;
}
.hamb > div{
    width:25px;
    float:right;
    cursor: pointer;
}
.hamb > div > div{
    border:1px solid white;
    background:white;
}
.hamb > div > div:not(:last-child){
    margin-bottom:5px;
}
.open_hamb{
    overflow:hidden;
    position:absolute;
    padding:10px 15px;
    top:65px;
    right:25px;
    display:none;
    width:0;
    height: 200px;
    background:rgba(227, 227, 227, 0.6);
    white-space: nowrap;
}

.open_hamb div:not(:last-child){
    margin-bottom:12px;
}


/*intro*/
.background_intro{
    border:1px solid red;
    height:188px;
    max-width:1030px;
    float:right;
    background:url(../Source/Icons/Group\ 97.svg) no-repeat bottom left;
}
.intro_block{/*align block*/
    float:right;
}
.intro{/*style and align form*/
    background:white;
    width:897px;
    height: 152px;
    border-radius:50px 5px;
}
.intro form{/*align items form*/
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.intro input{
    padding:0 35px 0 20px;
    outline:none;
    width: 200px;
    height: 50px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
.intro img{
    position:relative;
    right:30px;
}
.intro button{
    border:none;
    width: 138px;
    height: 50px;
    background: #009D98;
    cursor: pointer;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
    border-radius: 4px;
    border:none;
    outline:none;
}


.block_learn_more{
    margin-top:187px;
    padding:107px 0 98px 0;
}

.learn_more{
    display:flex;
    justify-content: center;
    margin:0 auto;
    padding:27px 0;
    max-width:1440px;
    background:url(../Source/Icons/Frame\ 8.svg) no-repeat right top,
               url(../Source/Icons/Rectangle\ 61.svg) no-repeat 46.4% bottom,
               url(../Source/Icons/Group\ 92.svg) no-repeat 12% center,
               url(../Source/Icons/Group\ 91.svg) no-repeat 16.5% top;
}
.left_side{
    height: 100%;
}
.learn_more .right_side{/*align text*/
    height: 560px;
    display:flex;
}
.learn_more .right_side > div{
    margin:auto 0 auto 122px;
    
}
.learn_more .right_side p{
    margin:auto 0;
}
.learn_more .right_side p:first-child{
    width:271px;
}
.learn_more .right_side p:last-of-type{
    width:400px;
    margin:20px 0 40px 0;
}
.learn_more .right_side > div > div{
    width: 141px;
    height: 45px;
}
.learn_more .right_side a div{
    cursor: pointer;
    background: #009D98;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
    border-radius: 4px;
    width: 141px;
    height: 45px;
    padding-top:8px;
    text-align: center;
}




/*slider*/
.heading_slider{
    max-width:1310px;
    margin:0 auto 61px auto;
    display:flex;
    justify-content:space-between;
}
.heading_slider > span:last-of-type{/*align "more..."*/
    display:flex;
}
.heading_slider > span > div{/*align "more..."*/
    margin:auto 0;
}
.heading_slider p:first-of-type{/*outer padding*/
    margin-bottom:20px;
}
.heading_slider span a div{
    text-align:center;
    padding-top:14px;
    width: 198px;
    height: 56px;
    background: #009D98;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
    border-radius: 4px;   
}

.slider{
    max-width:1310px;
    margin:0 auto;
    overflow:hidden;
}
.move_slider{
    position:relative;
    display:flex;
    gap:25px;
    transition:500ms;
}
.move_slider > span > div:first-of-type{/*first line*/
    display:flex;
    padding:0 20px;
    align-items:center;
    justify-content: space-between;
    margin:30px 0 10px 0;
}
.move_slider > span > div:first-of-type span{/*first line*/
    display:flex;/*vert align itens*/
}
.move_slider > span > div:nth-of-type(2){padding:0 20px;}/*second line*/
.move_slider > span > div:last-of-type{/*third line*/
    display:flex;
    margin-top:20px;
    padding:0 20px;
    justify-content:space-between;
}
.move_slider > span > div:last-of-type span{/*third line*/
    display:flex;
}
.move_slider > span > div:last-of-type span:first-child p:first-of-type{/*third line*/
    margin:0 30px 0 10px;
}
.move_slider > span > div:last-of-type span:first-child p:last-of-type{/*third line*/
    margin-left:17px;
}


.nav_slider{
    display:flex;/*for align button*/
    margin-top:100px;
}
.nav_slider div{
    display:flex;/*align button*/
    margin:0 auto;/*for align button*/
    gap:22px;
}
.nav_slider span{
    cursor: pointer;
    background: #009D98;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.3);
    width: 45px;
    height: 45px;
    border-radius:35px;
    display:flex;/*for align arrow*/
}
.nav_slider img{/*align arrow*/
    margin:auto;
}


/*flash*/
.flash{
    max-width:1150px;
    margin:0 auto;
}
.heading_flash{
    display:flex;
    justify-content: space-between;
    margin:203px 0 48px 0;
}
.heading_flash a span{/*more flash deals*/
    padding:12px 20px 10px 20px;
    background: #009D98;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
    border-radius: 4px;
}
.presentation_flash{
    display:flex;
    justify-content: space-between;
}
.presentation_flash div:first-of-type{/*img city*/
    display:flex;
}
.presentation_flash div > img{/*img city*/
    border-radius: 8px;
    margin:0 auto;
}
.presentation_flash div:last-of-type{/*first line*/
    width:216px;
    margin:37px auto 30px auto;
    display:flex;
    align-items:center;
}
.presentation_flash div:last-of-type img{/*align clock img*/
    display:flex;
    margin-right:22px;
}
.presentation_flash p{/*all line*/
    width: 216px;
    margin:0 auto;
    padding:0;
}
.presentation_flash p:nth-of-type(2){/*padding between line*/
    margin:20px auto 30px auto;
}




/*message*/
.message_block{   
    background:url(../Source/Images/Mask\ Group123123.jpg) no-repeat center/cover,
            rgba(8, 60, 76, 0.5);
    background-blend-mode: overlay;
    height:718px;
    display:grid;/*for align > message*/
    margin:99px 0 165px 0;
}
.message{
    margin:auto;
    display:flex;
    gap:127px;
}
.message > span:first-of-type{/*left side*/
    margin:auto 0;
}
.message > span:first-of-type p:not(:first-of-type){/*left side*/
    margin-top:40px;
}
.message button{/*right side*/
    display:block;
    width: 141px;
    height: 46px;
    background: #009D98;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
    border-radius: 4px;
    border:none;
    outline: none;
}
.message input{/*right side*/ 
    width: 450px;
    height: 46px;
    background: rgba(0, 0, 0, 0.5);
    border:none;
    outline:none;
    box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
    border-radius: 4px;
    padding:0 20px;
    margin-bottom:20px;
}
.message textarea{/*right side*/
    width: 450px;
    margin-bottom:30px;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
    border-radius: 4px;
    border:none;
    outline:none;
    resize:none;
    padding: 10px 20px;
}



/*footer*/
.top_footer{
    display:flex;
    justify-content: space-between;
    max-width:1150px;
    margin:0 auto 120px auto;
}
.bottom_footer{
    height:1025px;
    background:url(../Source/Images/footer.svg) no-repeat center center/ cover;
}
.bottom_footer > div{
    margin:0 auto;
    max-width:1150px;
}
.bottom_footer span:first-of-type p:nth-child(2){/*padding between text*/
    margin:30px 0 15px 0;
}
.bottom_footer span:first-of-type p:last-child{/*padding between text*/
    margin:0 0 30px 0;
}
.bottom_footer span:first-of-type a:nth-child(2){/*padding between text*/
    margin:0 20px;
}
.bottom_footer > div > span:nth-child(2){/*align text*/
    display:grid;
}
.bottom_footer span:nth-child(2) > div:not(:last-child){/*padding between text*/
    margin-bottom:15px;
}
.bottom_footer span:last-child p:last-child{/*padding between text*/
    width: 330px;
    margin-top:30px;
}
.bottom_footer > div:first-of-type{
    padding:705px 0 60px 0;
    display:flex; 
    justify-content: space-between;
    border-bottom:1px solid #FFFFFF;

}
.bottom_footer > div:last-of-type{
    margin:20px auto;
    text-align: center;
}





.block_learn_more,
.block_slider,
.flash,
.message_block,
.footer{
    display:none;
}